* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background: #004080;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero{
background:url(34.webp)no-repeat center center/cover;
height:900px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
text-shadow: 1px 1px 3px black;

 
}

.hero .btn {
  background: #ff9800;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
}

section {
  padding: 50px;
  text-align: center;
}

#courses .course-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.course {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
}

.ra{
    color: red;
    font-size:20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

.ra:hover{
    color: blue;
    cursor:help;
}

.ram:hover{
    
   color: red;
}

.ol:hover{
    color: yellowgreen;
}

.course:hover{
   background-color:red;
}
.qa:hover{
    background: blue;
}

.qwe:hover{
    background: blue;
}

.rt:hover{
    background: blue;
}

.rty:hover{
    background: blue;
}

.op:hover{
    background: blue;
}

.opi:hover{
    background: blue;
}
.jo:hover{
  color: red;
}
.logo:hover{
  background-color: red;
  color:blue;
  cursor: pointer;
}

.course {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;}
  
.logo{
  background-color: red;
  color: bule;
}


